<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heibuddy"
    android:installLocation="auto"
    android:versionCode="18"
    android:versionName="0.4.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" >
    </uses-permission>
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.heibuddy.xiaohuoband.Xiaohuoband"
        android:icon="@drawable/icon"
        android:label="@string/ApplicationName"
        android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        <activity
            android:name="com.heibuddy.xiaohuoband.LandingActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.heibuddy.xiaohuoband.TeachActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.heibuddy.xiaohuoband.TalkActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.heibuddy.xiaohuoband.RegisterActivity" />
        <activity android:name="com.heibuddy.xiaohuoband.LoginActivity" />
        <activity
            android:name="com.heibuddy.browser.ui.activities.BrowserMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ApplicationName"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.heibuddy.browser.ui.activities.AboutActivity"
            android:label="@string/AboutActivity.Title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.heibuddy.browser.ui.activities.EditBookmarkActivity"
            android:label="@string/EditBookmarkActivity.Title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="com.heibuddy.browser.ui.activities.BookmarksListActivity" >
        </activity>
        <activity android:name="com.heibuddy.browser.ui.activities.HistoryListActivity" >
        </activity>
        <activity android:name="com.heibuddy.browser.ui.activities.DownloadsListActivity" >
        </activity>
        <activity android:name="com.heibuddy.browser.ui.activities.AdBlockerWhiteListActivity" >
        </activity>
        <activity
            android:name="com.heibuddy.browser.ui.activities.BookmarksHistoryActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.heibuddy.browser.ui.activities.ChangelogActivity"
            android:label="@string/ChangelogActivity.Title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="com.heibuddy.browser.ui.activities.preferences.PreferencesActivity" >
        </activity>
        <activity
            android:name="com.heibuddy.browser.ui.activities.preferences.HomepagePreferenceActivity"
            android:label="@string/HomepagePreferenceActivity.Title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.heibuddy.browser.ui.activities.preferences.SearchUrlPreferenceActivity"
            android:label="@string/SearchUrlPreferenceActivity.Title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.heibuddy.browser.ui.activities.preferences.UserAgentPreferenceActivity"
            android:label="@string/UserAgentPreferenceActivity.Title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="com.heibuddy.browser.ui.activities.MobileViewListActivity" >
        </activity>
        <activity android:name="com.heibuddy.browser.ui.activities.WeaveBookmarksListActivity" >
        </activity>
        <activity android:name="com.heibuddy.browser.ui.activities.preferences.WeavePreferencesActivity" >
        </activity>
        <activity
            android:name="com.heibuddy.browser.ui.activities.preferences.WeaveServerPreferenceActivity"
            android:label="@string/WeaveServerPreferenceActivity.Title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <provider
            android:name="com.heibuddy.browser.providers.ZircoBookmarksContentProvider"
            android:authorities="org.zirco.providers.zircobookmarkscontentprovider" >
        </provider>
        <provider
            android:name="com.heibuddy.browser.providers.WeaveContentProvider"
            android:authorities="org.zirco.providers.weavecontentprovider" >
        </provider>

        <receiver android:name="com.heibuddy.browser.utils.ProxyChangeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PROXY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
    </application>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

</manifest>